// Bootstrap overrides
/* 
 * elzire.fr theme
 */

// Colors

$elzire-green: #00A98D;
$bg-color: #fefefe; 
$bg-footer: $elzire-green;
$gray-dark: #181a1b;
$gray: #292b2c;
$gray-light: #464a4c;
$gray-lighter: #636c72;
$gray-lightest: #eceeef;
$brand-primary: $elzire-green;

// Grid

$grid-columns: 60;

// Body

$body-bg: $bg-color;

// Spacing

$spacer: 1rem;

// Breadcrumbs

$breadcrumb-padding-x: 0rem;
$breadcrumb-bg: $body-bg; 
$breadcrumb-divider-color: $gray-light;
$breadcrumb-active-color: $gray;
$breadcrumb-divider: "-";

// Carousel

$carousel-indicator-width: 15px;
$carousel-indicator-height: 15px;
$carousel-indicator-spacer: 5px;

// Links

$link-color: $gray;
$link-hover-decoration: none;

// Navbar

$navbar-padding-x: $spacer !default;
$navbar-padding-y: 0;
