{% extends 'AppBundle::page.html.twig' %}

{% block header %}
<header class="landing-header mb-1">
    <div class="surlignage"></div>
    <div class="pt-2 pb-2 en-tete d-flex flex-column justify-content-center align-items-center">
        <img src="{{ asset('assets/logo-elzire.png') }}" class="logo-img" />
        <div class="mb-1 header-separator"></div>
        <div class="slogan"> Les faire-parts créatifs façon Elzire </div>
    </div>
</header>
{% endblock %}

{% block contentHeader %}
{% endblock %}

{% block content %}
<div class="mb-5">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="https://unsplash.it/2200/800/"/>
                <div class="elzire-carousel-caption d-none d-md-block">
                    <h3>
                        Tur aut et experum hit dolent
                    </h3>
                    <p>
                        Laccum estiate
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="https://unsplash.it/2201/800/"/>
                <div class="elzire-carousel-caption d-none d-md-block">
                    <h3>
                        Tur aut et experum hit dolent
                    </h3>
                    <p>
                        Laccum estiate
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="https://unsplash.it/2202/800/"/>
                <div class="elzire-carousel-caption d-none d-md-block">
                    <h3>
                        Tur aut et experum hit dolent
                    </h3>
                    <p>
                        Laccum estiate
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5" data-interval="10000" data-pause="hover">

    <div class="container mb-5">
        <h3 style="font-size: 4rem; font-family:Freestyle"> Bonjour ! </h3>
        <p>
            Je suis Sabine, dite Elzire. Je suis passionnée et spécialisé dans le print qui adore son métier et qui place la qualité et
            l’authenticité au premier plan. Je mes en avant
            Très loin de la production de faire-part faite à la chaîne, je mes en avant l’artisanat, mon style graphique et mon professionalisme. il est
            primordial pour moi de porter une attention toute particulière à vos créations. Nous échangerons ensemble par mail tout au long de la
            création et je serai disponible pour vous écouter.
        </p>
        <p>
            Je suis Sabine, dite Elzire. Je suis passionnée et spécialisé dans le print qui adore son métier et qui place la qualité et
            l’authenticité au premier plan. Je mes en avant
            Très loin de la production de faire-part faite à la chaîne, je mes en avant l’artisanat, mon style graphique et mon professionalisme. il est
            primordial pour moi de porter une attention toute particulière à vos créations. Nous échangerons ensemble par mail tout au long de la
            création et je serai disponible pour vous écouter.
        </p>
    </div>

    <div class="container mb-5">
        <div class="row d-flex align-items-start">
            <div class="col-20 d-flex justify-content-center align-items-center flex-column">
                <a href="#" class="round-link d-flex justify-content-center align-items-center flex-column mb-3">
                    <span class="mes">Mes</span>
                    <span class="roboto-thin mb-4">faire-parts</span>
                </a>
                <div class="text-justify">
                    J’illustre avec passion
                    des thèmes afin de
                    réaliser des collection
                    de faire-part et de jolies
                    cartes, dont la plupart
                    sont entièrement
                    dessinées à la main ou à
                    la tablette graphique.
                </div>
            </div>
            <div class="col-20 d-flex justify-content-center align-items-center flex-column">
                <a href="/illustrations" class="round-link d-flex justify-content-center align-items-center flex-column mb-3">
                    <span class="mes">Mes</span>
                    <span class="roboto-thin mb-4">illustrations</span>
                </a>
                <div class="text-justify">
                    Mon loisir N°1,
                    l’illustration, C’est ici que
                    je dévoile ma «pâttes»
                    graphique.
                    Toujours avec un
                    mélange de symétrie,
                    d’élégance et de flore.
                </div>
            </div>
            <div class="col-20 d-flex justify-content-center align-items-center flex-column">
                <a href="#" class="round-link d-flex justify-content-center align-items-center flex-column mb-3">
                    <span class="mes">A</span>
                    <span class="roboto-thin mb-4">propos</span>
                </a>
                <div class="text-justify">
                    Mes études, mon
                    parcours professionnel...
                    ce qui m’a mené à me
                    lancer dans ce projet
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block other %}
{% endblock %}

{% block end_body %}
{% endblock %}
