{% extends 'AppBundle::base.html.twig' %}
{% block body %}

    {% block header %}
    <header class="page-header">
        <div class="surlignage"></div>
        <div class="pt-2 pb-2 en-tete">
            <div class="container-fluid logo">
                <img src="{{ asset('assets/logo.png') }}" class="logo-img rounded-circle" />
                <img src="{{ asset('assets/elzire.png') }}" class="elzire-img"/>
            </div>
            <div class="fleurs"></div>
        </div>
    </header>
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-light navbar-toggleable-sm mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav justify-content-around">
                <a href="#" class="nav-item nav-link">Accueil</a>
                <a href="#" class="nav-item nav-link disabled">Mariage</a>
                <a href="#" class="nav-item nav-link disabled">Naissance</a>
                <a href="#" class="nav-item nav-link disabled">Baptême</a>
                <a href="#" class="nav-item nav-link">Illustrations</a>
                <a href="#" class="nav-item nav-link disabled">Contact</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block breadcrumbs %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">

                <nav class="mx-3 breadcrumb">
                    <a class="breadcrumb-item" href="#">Accueil</a>
                    <a class="breadcrumb-item" href="#">Mariage</a>
                    <a class="breadcrumb-item" href="#">Oiseaux aux alliances</a>
                    <span class="breadcrumb-item active">Carton réponse</span>
                </nav>

                <div class="breadcrumb-separator mx-3 mb-3"></div>

                <div class="mx-3 mb-3">
                    <h5 class="elziregreen">
                        Collection mariage
                    </h5>
                    <h2>
                        Oiseaux aux alliances
                        <small>
                            <i style="font-size: 0.5rem;position:relative;bottom:0.35rem" class="fa fa-circle"></i> 
                            <span class="elziregreen">Carton réponse</span>
                        </small>
                    </h2>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block other %}
        <div class="container other pt-2 my-5">
            <p>
                Autres thèmes...
            </p>
            <div class="px-5 py-3 row">
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row d-flex justify-content-around">
                <div class="my-3 mx-2 py-3 col-6 d-flex align-items-center justify-content-center copyright">
                    <div>
                        Copyright © 2017 - 2018 par Elzire <span class="hidden-lg-down">/ N°Siret 000 000 000 00000</span>
                    </div>
                </div>
                <div class="col-5 d-flex align-items-center justify-content-center follow">
                    <span class="mr-2 hidden-lg-down follow-me"> Suivez-moi ! </span>
                    <a href="#">
                        <span class="fa-stack fa-2x">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa fa-facebook fa-stack-1x"></span>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack fa-2x">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa fa-instagram fa-stack-1x"></span>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack fa-2x">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa fa-pinterest-p fa-stack-1x"></span>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack fa-2x">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="cv"><span class="mon">mon</span><br>CV</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

{% endblock %}
