{% extends 'AppBundle::Base.html.twig' %}

{% block title %}Elzire element{% endblock %}

{% block body %}

    <header>
        <div class="surlignage"></div>
        <div class="pt-2 pb-2 en-tete">
            <div class="container-fluid logo">
                <img src="http://localhost/placeholder-squared.png" class="rounded-circle" />
                <span> Elzire </span>
            </div>
            <div class="fleurs"></div>
        </div>

    </header>

    <nav class="navbar navbar-light navbar-toggleable-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav justify-content-around">
                <a href="#" class="nav-item nav-link">Accueil</a>
                <a href="#" class="nav-item nav-link">Mariage</a>
                <a href="#" class="nav-item nav-link">Naissance</a>
                <a href="#" class="nav-item nav-link">Baptême</a>
                <a href="#" class="nav-item nav-link">Mon parcours</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <nav class="mx-3 breadcrumb">
                    <a class="breadcrumb-item" href="#">Accueil</a>
                    <a class="breadcrumb-item" href="#">Mariage</a>
                    <a class="breadcrumb-item" href="#">Oiseaux aux alliances</a>
                    <span class="breadcrumb-item active">Carton réponse</span>
                </nav>

                <div class="m-3 container-fluid">
                    <h5>
                        Collection mariage
                    </h5>
                    <h2>
                        Oiseaux aux alliances
                        <small class="text-muted">
                            <i style="font-size: 0.5rem;position:relative;bottom:0.35rem" class="fa fa-circle"></i> 
                            Carton réponse
                        </small>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="mx-1 mb-3 row">
                    <div class="col">
                        <img src="http://localhost/placeholder.png" class="img-fluid"/>
                    </div>
                </div>
                <div class="mx-5 row">
                    <div class="col-4 text-center">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                    </div>
                    <div class="col-4 text-center">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                    </div>
                    <div class="col-4 text-center">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <p>
                        Papier Argent 220gr/mm², découpes dentelle au choix, couleur ruban au choix<br>
                        Avec enveloppe<br>
                        A partir de 0.80 € l'unité
                    </p>
                </div>
            </div>
            <div class="col-4 pt-2 bg-faded">
                <div class="container text-center">
                    Dans la même collection
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="img-card">
                            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                            <div class="title-footer">
                                ceci est un titre
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <p>
            Autres thèmes...
        </p>
        <div class="mx-5 mb-3 row">
            <div class="col-4 text-center">
                <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
            </div>
            <div class="col-4 text-center">
                <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
            </div>
            <div class="col-4 text-center">
                <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
            </div>
        </div>
    </div>





{% endblock %}
