{% extends 'AppBundle::page.html.twig' %}

{% block title %}Elzire element{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="mx-1 mb-3 row">
                <div class="col">
                    <img src="http://localhost/placeholder.png" class="img-fluid"/>
                </div>
            </div>
            <div class="mx-5 row">
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
                <div class="col-4 text-center">
                    <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                </div>
            </div>
            <div class="m-1 row">
                <p>
                    Papier Argent 220gr/mm², découpes dentelle au choix, couleur ruban au choix<br>
                    Avec enveloppe<br>
                    A partir de 0.80 € l'unité
                </p>
            </div>
        </div>
        <div class="col-4 pt-2 bg-faded">
            <div class="container text-center">
                Dans la même collection
            </div>
            <div class="row p-2">
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="img-card">
                        <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
                        <div class="title-footer">
                            ceci est un titre
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <p>
        Autres thèmes...
    </p>
    <div class="mx-5 mb-3 row">
        <div class="col-4 text-center">
            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
        </div>
        <div class="col-4 text-center">
            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
        </div>
        <div class="col-4 text-center">
            <img src="http://localhost/placeholder-squared.png" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}
