{% extends 'AppBundle::Base.html.twig' %}

{% block title %}Elzire element{% endblock %}

{% block body %}

    <nav class="navbar navbar-light navbar-toggleable-sm">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a href="#" class="nav-item nav-link">Accueil</a>
				<a href="#" class="nav-item nav-link">Mariage</a>
				<a href="#" class="nav-item nav-link">Naissance</a>
				<a href="#" class="nav-item nav-link">Baptême</a>
				<a href="#" class="nav-item nav-link">Mon parcours</a>
				<a href="#" class="nav-item nav-link">Contact</a>
			</div>
        </div>
    </nav>


	<nav class="breadcrumb">
		<a class="breadcrumb-item" href="#">Accueil</a>
		<a class="breadcrumb-item" href="#">Mariage</a>
		<a class="breadcrumb-item" href="#">Oiseaux aux alliances</a>
		<span class="breadcrumb-item active">Carton réponse</span>
	</nav>

    <div class="m-3 container-fluid">
        <h5>
            Collection mariage
        </h5>
        <h2>
            Oiseaux aux alliances
            <small class="text-muted">
                <i style="font-size: 0.5rem;position:relative;bottom:0.35rem" class="fa fa-circle"></i> 
                Carton réponse
            </small>
        </h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="m-1 row">
                    <div class="col">
                        <img src="https://unsplash.it/1200/600" class="img-fluid"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <div class="col text-center">
                        <img src="https://unsplash.it/200/200" class="m-3 img-fluid"/>
                        <img src="https://unsplash.it/200/200" class="m-3 img-fluid"/>
                        <img src="https://unsplash.it/200/200" class="m-3 img-fluid"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <p>
                        Papier Argent 220gr/mm², découpes dentelle au choix, couleur ruban au choix<br>
                        Avec enveloppe<br>
                        A partir de 0.80 € l'unité
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="container text-center">
                    <p>
                        Dans la même collection
                    </p>
                </div>
                <div class="m-1 row">
                    <div class="col text-center">
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <div class="col text-center">
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <div class="col text-center">
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                    </div>
                </div>
                <div class="m-1 row">
                    <div class="col text-center">
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                        <img src="https://unsplash.it/150/150" class="m-2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <p>
            Autres thèmes...
        </p>
        <div class="row justify-content-center">
            <div class="col text-center">
                <img src="https://unsplash.it/300/300" class="m-2"/>
            </div>
            <div class="col text-center">
                <img src="https://unsplash.it/300/300" class="m-2"/>
            </div>
            <div class="col text-center">
                <img src="https://unsplash.it/300/300" class="m-2"/>
            </div>
        </div>
    </div>





{% endblock %}
