{% extends 'AppBundle::page.html.twig' %}

{% block title %}Elzire illustration{% endblock %}

{% block content %}
    <div class="container-fluid px-5 mx-auto">

        <div class="mb-4">
            <img class="img-fluid" src="{{ main_image }}"/>
        </div>

        <div class="row mb-4">

            {% for mini in miniatures %}
                <a href="{{ mini[1] }}" class="col-2 mr-3">
                    <img class="img-fluid" src="{{ mini[0] }}"/>
                </a>
            {% endfor %}

        </div>

    </div>
{% endblock %}
