{% extends 'AppBundle::page.html.twig' %}

{% block title %}Elzire illustrations{% endblock %}

{% block content %}
    <div class="container-fluid px-5 mx-5 mb-5">
        <div class="row mb-5">
            <div class="col-3">
                <a href="#" class="img-link">
                    <img class="img-fluid" src="http://localhost/placeholder-squared.png"/>
                    <div> Trio de rats </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block other %}
{% endblock %}
